:host{
    --background: #f2f2f2;
    --background-chosen: #dff0ff;
    --background-deactived: #e6e6e6;
    max-width: 600px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#weather{
    display:flex;
    position: relative;
    flex-wrap: wrap;
    background:var(--background);
}
.btn-group{
    display: flex;
    justify-content: space-between;
}
.btn-group button{
    border:none;
    width:100%;
    padding:1em;
    font-family: Lato, sans-serif;
    background:var(--background-deactived)
}
.btn-group button.active{
    background: var(--background);
}
daily-forecast{
    background: var(--background);
    padding:5%;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    order:2;
}
daily-forecast:not(#show){
    cursor:pointer;
}
daily-forecast.chosen{
    background:var(--background-chosen);
}
.three daily-forecast:not(#show)
{
    width:33.3%;
}

.five daily-forecast:not(#show)
{
    width:20%;
}

.eight daily-forecast:not(#show)
{
    width:25%;
}

.current daily-forecast:not(#show){
    display:none;
}
daily-forecast#show{
    order:1;
    width:100%!important;
    height:auto;
}
.day{
    text-align: center;
    display:flex;
    width:100%;
    align-items: center;
}
.day .base{
    width: 100%;
}
.day .extra{
    display:none;
}
:host(#show) .day .base{
    width:50%;
}
:host(#show) .day .extra{
    display: block;
    width:50%;
}
.day p{
    margin:0.25em;
    font-size:0.9em;
    text-align: left;
    font-weight: 300;
}
.day p#date{
    text-align:center;
    font-size:1.2em;
    margin-top: -5%;
}
.day img{
    width:100%;
    height:auto;
}
.day img.icon{
    width:30px;
    margin-right:5px;
}
.day .extra p{
    display:flex;
    align-items: center;
}
@media(max-width: 1000px){
    .day p#date{
        font-size:0.9em;
    }
}
@media(max-width:367px){
    .five daily-forecast:not(#show):nth-child(3),
    .five daily-forecast:not(#show):nth-child(4),
    .five daily-forecast:not(#show):nth-child(5),
    .five daily-forecast:not(#show):nth-child(6)
    {
        width:33.3%;
    }
    .five daily-forecast:not(#show):first-child,
    .five daily-forecast:not(#show):nth-child(2),
    .five daily-forecast#show~daily-forecast:not(#show):nth-child(3)
    {
        width:50%;
    }
}